//
// Grid
// ===
//


//
// ## Row & Container
//
.o-container,
.o-row {
	margin: 0 auto;
	max-width: $grid-container-max-width;
}

// ### Wide
.o-container--width-wide {

	@include for-tablet-landscape-up {
		max-width: $grid-site-max-width;
	}

	// for screens larged than HD
	@include for-huge-desktop-up {
		max-width: $grid-site-max-width;
	}
}

// ### Full-width
// 1. Make it the same as --width-full because we no longer need --width-wide for rows
.o-container--width-full,
.o-row--width-wide, // 1.
.o-row--width-full {
	max-width: none;
}


//
// ## Row
//
.o-row {
	border-style: solid;
	border-color: $border-color;
	border-width: 0;

	&.has-header-overlay,
	.has-header-overlay > & {
		position: relative;
	}

	// o-full-width on rows creates some padding problems with containers
	&.o-full-width {
		padding-left: $grid-gutter;
		padding-right: $grid-gutter;
	}
}




//
// ## Container
//
.o-container {
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;

	padding-left: $grid-container-padding;
    padding-right: $grid-container-padding;
    
    > [class*="-col-"] {
        padding-left: padding-left;
        padding-right: padding-right;
    }

	&.o-container--no-padding {
		padding-left: 0;
		padding-right: 0;

		// > [class*="-col-"] {
		// 	padding-left: 0 !important;
		// 	padding-right: 0 !important;
		// }
    }
}

//
// ### prevent container inception
//
.o-container:not(.o-container--no-padding):not(.o-container--width-wide):not(.o-container--width-full) .o-container,
.o-container:not(.o-container--no-padding) .o-container--width-same {
	padding-left: 0;
	padding-right: 0;
}

.o-container:not(.o-container--no-padding):not(.o-container--width-wide):not(.o-container--width-full) [class*="-col-"] .o-container:not(.o-container--no-padding),
.o-container:not(.o-container--no-padding) [class*="-col-"] .o-container--width-same:not(.o-container--no-padding) {
	margin-left: -$grid-padding;
	margin-right: -$grid-padding;
}

@media (max-width: $grid-container-max-width) {

	.o-container:not(.o-container--no-padding) .o-container {
		padding-left: 0;
		padding-right: 0;
	}

	.o-container:not(.o-container--no-padding) [class*="-col-"] .o-container:not(.o-container--no-padding) {
		margin-left: -$grid-padding;
		margin-right: -$grid-padding;
	}
}

@media (max-width: $grid-site-max-width) {

	.o-container--width-full:not(.o-container--no-padding) .o-container {
		padding-left: 0;
		padding-right: 0;
	}

	.o-container--width-full:not(.o-container--no-padding) [class*="-col-"] .o-container:not(.o-container--no-padding) {
		margin-left: -$grid-padding;
		margin-right: -$grid-padding;
	}
}


//
// ### Container with padding for sections
//
.o-container--padding {
    padding: 0 420px;

    @include for-desktop-down {
        padding: 0 100px;
    }

    @include for-tablet-portrait-down {
        padding: 0 20px;
    }

}

//
// ### Container small width for sections
//
.o-container--small {
    max-width: 840px;
    margin: 0 auto;

    @include for-desktop-down {
        
    }

    @include for-tablet-portrait-down {
        
    }

}


//
// ### Vertical align
//
.o-container--valign-top {
	align-items: flex-start;
}

.o-container--valign-middle {
	align-items: center;
}

.o-container--valign-bottom {
	align-items: flex-end;
}





//
// ## Columns
//
[class*="o-xs-col-"],
[class*="o-col-"] {
	flex: 0 0 auto;
	padding-left: $grid-padding;
	padding-right: $grid-padding;
}

.o-xs-col-1,
.o-col-1 {
	flex-basis:  (1/12 * 100%);
	max-width: (1/12 * 100%)
}

.o-xs-col-2,
.o-col-2 {
	flex-basis:  (2/12 * 100%);
	max-width: (2/12 * 100%)
}

.o-xs-col-3,
.o-col-3 {
	flex-basis:  (3/12 * 100%);
	max-width: (3/12 * 100%)
}

.o-xs-col-4,
.o-col-4 {
	flex-basis:  (4/12 * 100%);
	max-width: (4/12 * 100%)
}

.o-xs-col-5,
.o-col-5 {
	flex-basis:  (5/12 * 100%);
	max-width: (5/12 * 100%)
}

.o-xs-col-6,
.o-col-6 {
	flex-basis:  (6/12 * 100%);
	max-width: (6/12 * 100%)
}

.o-xs-col-7,
.o-col-7 {
	flex-basis:  (7/12 * 100%);
	max-width: (7/12 * 100%)
}

.o-xs-col-8,
.o-col-8 {
	flex-basis:  (8/12 * 100%);
	max-width: (8/12 * 100%)
}

.o-xs-col-9,
.o-col-9 {
	flex-basis:  (9/12 * 100%);
	max-width: (9/12 * 100%)
}

.o-xs-col-10,
.o-col-10 {
	flex-basis:  (10/12 * 100%);
	max-width: (10/12 * 100%)
}

.o-xs-col-11,
.o-col-11 {
	flex-basis:  (11/12 * 100%);
	max-width: (11/12 * 100%)
}

.o-xs-col-12,
.o-col-12 {
	flex-basis:  100%;
	max-width: 100%
}

// ## Offset
.o-xs-col-offset-0,
.o-col-offset-0 {
	margin-left: 0;
}

// ## Offset
.o-xs-col-offset-1,
.o-col-offset-1 {
	margin-left: (1/12 * 100%);
}

.o-xs-col-offset-2,
.o-col-offset-2 {
	margin-left: (2/12 * 100%);
}

.o-xs-col-offset-3,
.o-col-offset-3 {
	margin-left: (3/12 * 100%);
}

.o-xs-col-offset-4,
.o-col-offset-4 {
	margin-left: (4/12 * 100%);
}

.o-xs-col-offset-5,
.o-col-offset-5 {
	margin-left: (5/12 * 100%);
}

.o-xs-col-offset-6,
.o-col-offset-6 {
	margin-left: (6/12 * 100%);
}

.o-xs-col-offset-7,
.o-col-offset-7 {
	margin-left: (7/12 * 100%);
}

.o-xs-col-offset-8,
.o-col-offset-8 {
	margin-left: (8/12 * 100%);
}

.o-xs-col-offset-9,
.o-col-offset-9 {
	margin-left: (9/12 * 100%);
}

.o-xs-col-offset-10,
.o-col-offset-10 {
	margin-left: (10/12 * 100%);
}

.o-xs-col-offset-11,
.o-col-offset-11 {
	margin-left: (11/12 * 100%);
}

.o-xs-col-offset-12,
.o-col-offset-12 {
	margin-left: 100%;
}

@media #{$mq-sm-min} {

	// ## Columns (small screen)
	[class*="o-sm-col-"] {
		flex: 0 0 auto;
		padding-left: $grid-padding;
		padding-right: $grid-padding;
	}

	.o-sm-col-1 {
		flex-basis:  (1/12 * 100%);
		max-width: (1/12 * 100%)
	}

	.o-sm-col-2 {
		flex-basis:  (2/12 * 100%);
		max-width: (2/12 * 100%)
	}

	.o-sm-col-3 {
		flex-basis:  (3/12 * 100%);
		max-width: (3/12 * 100%)
	}

	.o-sm-col-4 {
		flex-basis:  (4/12 * 100%);
		max-width: (4/12 * 100%)
	}

	.o-sm-col-5 {
		flex-basis:  (5/12 * 100%);
		max-width: (5/12 * 100%)
	}

	.o-sm-col-6 {
		flex-basis:  (6/12 * 100%);
		max-width: (6/12 * 100%)
	}

	.o-sm-col-7 {
		flex-basis:  (7/12 * 100%);
		max-width: (7/12 * 100%)
	}

	.o-sm-col-8 {
		flex-basis:  (8/12 * 100%);
		max-width: (8/12 * 100%)
	}

	.o-sm-col-9 {
		flex-basis:  (9/12 * 100%);
		max-width: (9/12 * 100%)
	}

	.o-sm-col-10 {
		flex-basis:  (10/12 * 100%);
		max-width: (10/12 * 100%)
	}

	.o-sm-col-11 {
		flex-basis:  (11/12 * 100%);
		max-width: (11/12 * 100%)
	}

	.o-sm-col-12 {
		flex-basis:  100%;
		max-width: 100%
	}

	// ## Offsets
	.o-sm-col-offset-0 {
		margin-left: 0;
	}

	.o-sm-col-offset-1 {
		margin-left: (1/12 * 100%);
	}

	.o-sm-col-offset-2 {
		margin-left: (2/12 * 100%);
	}

	.o-sm-col-offset-3 {
		margin-left: (3/12 * 100%);
	}

	.o-sm-col-offset-4 {
		margin-left: (4/12 * 100%);
	}

	.o-sm-col-offset-5 {
		margin-left: (5/12 * 100%);
	}

	.o-sm-col-offset-6 {
		margin-left: (6/12 * 100%);
	}

	.o-sm-col-offset-7 {
		margin-left: (7/12 * 100%);
	}

	.o-sm-col-offset-8 {
		margin-left: (8/12 * 100%);
	}

	.o-sm-col-offset-9 {
		margin-left: (9/12 * 100%);
	}

	.o-sm-col-offset-10 {
		margin-left: (10/12 * 100%);
	}

	.o-sm-col-offset-11 {
		margin-left: (11/12 * 100%);
	}

	.o-sm-col-offset-12 {
		margin-left: 100%;
	}

}

// o-sm-col is the default in VC layouts so it needs to work at all screen sizes
@media #{$mq-xs-max} {

	.o-vc-layout :not([class*="o-xs-col-"]) {

		&[class*="o-sm-col-"] {
			flex: 0 0 auto;
			padding-left: $grid-padding;
			padding-right: $grid-padding;
		}

		&.o-sm-col-12 {
			flex-basis:  100%;
			max-width: 100%
		}

		&.o-sm-col-1 {
			flex-basis:  (1/12 * 100%);
			max-width: (1/12 * 100%)
		}

		&.o-sm-col-2 {
			flex-basis:  (2/12 * 100%);
			max-width: (2/12 * 100%)
		}

		&.o-sm-col-3 {
			flex-basis:  (3/12 * 100%);
			max-width: (3/12 * 100%)
		}

		&.o-sm-col-4 {
			flex-basis:  (4/12 * 100%);
			max-width: (4/12 * 100%)
		}

		&.o-sm-col-5 {
			flex-basis:  (5/12 * 100%);
			max-width: (5/12 * 100%)
		}

		&.o-sm-col-6 {
			flex-basis:  (6/12 * 100%);
			max-width: (6/12 * 100%)
		}

		&.o-sm-col-7 {
			flex-basis:  (7/12 * 100%);
			max-width: (7/12 * 100%)
		}

		&.o-sm-col-8 {
			flex-basis:  (8/12 * 100%);
			max-width: (8/12 * 100%)
		}

		&.o-sm-col-9 {
			flex-basis:  (9/12 * 100%);
			max-width: (9/12 * 100%)
		}

		&.o-sm-col-10 {
			flex-basis:  (10/12 * 100%);
			max-width: (10/12 * 100%)
		}

		&.o-sm-col-11 {
			flex-basis:  (11/12 * 100%);
			max-width: (11/12 * 100%)
		}

		&.o-sm-col-12 {
			flex-basis:  100%;
			max-width: 100%
		}

		// ## Offsets
		&.o-sm-col-offset-0 {
			margin-left: 0;
		}

		&.o-sm-col-offset-1 {
			margin-left: (1/12 * 100%);
		}

		&.o-sm-col-offset-2 {
			margin-left: (2/12 * 100%);
		}

		&.o-sm-col-offset-3 {
			margin-left: (3/12 * 100%);
		}

		&.o-sm-col-offset-4 {
			margin-left: (4/12 * 100%);
		}

		&.o-sm-col-offset-5 {
			margin-left: (5/12 * 100%);
		}

		&.o-sm-col-offset-6 {
			margin-left: (6/12 * 100%);
		}

		&.o-sm-col-offset-7 {
			margin-left: (7/12 * 100%);
		}

		&.o-sm-col-offset-8 {
			margin-left: (8/12 * 100%);
		}

		&.o-sm-col-offset-9 {
			margin-left: (9/12 * 100%);
		}

		&.o-sm-col-offset-10 {
			margin-left: (10/12 * 100%);
		}

		&.o-sm-col-offset-11 {
			margin-left: (11/12 * 100%);
		}

		&.o-sm-col-offset-12 {
			margin-left: 100%;
		}
	}
}

@media #{$mq-md-min} {

	// ## Columns (medium screen)
	[class*="o-md-col-"] {
		flex: 0 0 auto;
		padding-left: $grid-padding;
		padding-right: $grid-padding;
	}

	.o-md-col-1 {
		flex-basis:  (1/12 * 100%);
		max-width: (1/12 * 100%)
	}

	.o-md-col-2 {
		flex-basis:  (2/12 * 100%);
		max-width: (2/12 * 100%)
	}

	.o-md-col-3 {
		flex-basis:  (3/12 * 100%);
		max-width: (3/12 * 100%)
	}

	.o-md-col-4 {
		flex-basis:  (4/12 * 100%);
		max-width: (4/12 * 100%)
	}

	.o-md-col-5 {
		flex-basis:  (5/12 * 100%);
		max-width: (5/12 * 100%)
	}

	.o-md-col-6 {
		flex-basis:  (6/12 * 100%);
		max-width: (6/12 * 100%)
	}

	.o-md-col-7 {
		flex-basis:  (7/12 * 100%);
		max-width: (7/12 * 100%)
	}

	.o-md-col-8 {
		flex-basis:  (8/12 * 100%);
		max-width: (8/12 * 100%)
	}

	.o-md-col-9 {
		flex-basis:  (9/12 * 100%);
		max-width: (9/12 * 100%)
	}

	.o-md-col-10 {
		flex-basis:  (10/12 * 100%);
		max-width: (10/12 * 100%)
	}

	.o-md-col-11 {
		flex-basis:  (11/12 * 100%);
		max-width: (11/12 * 100%)
	}

	.o-md-col-12 {
		flex-basis:  100%;
		max-width: 100%
	}

	// ## Offsets
	.o-md-col-offset-0 {
		margin-left: 0;
	}

	.o-md-col-offset-1 {
		margin-left: (1/12 * 100%);
	}

	.o-md-col-offset-2 {
		margin-left: (2/12 * 100%);
	}

	.o-md-col-offset-3 {
		margin-left: (3/12 * 100%);
	}

	.o-md-col-offset-4 {
		margin-left: (4/12 * 100%);
	}

	.o-md-col-offset-5 {
		margin-left: (5/12 * 100%);
	}

	.o-md-col-offset-6 {
		margin-left: (6/12 * 100%);
	}

	.o-md-col-offset-7 {
		margin-left: (7/12 * 100%);
	}

	.o-md-col-offset-8 {
		margin-left: (8/12 * 100%);
	}

	.o-md-col-offset-9 {
		margin-left: (9/12 * 100%);
	}

	.o-md-col-offset-10 {
		margin-left: (10/12 * 100%);
	}

	.o-md-col-offset-11 {
		margin-left: (11/12 * 100%);
	}

	.o-md-col-offset-12 {
		margin-left: 100%;
	}

}

// ## Columns (large screen)
@media #{$mq-lg-min} {

	[class*="o-lg-col-"] {
		flex: 0 0 auto;
		padding-left: $grid-padding;
		padding-right: $grid-padding;
	}

	.o-lg-col-1 {
		flex-basis:  (1/12 * 100%);
		max-width: (1/12 * 100%)
	}

	.o-lg-col-2 {
		flex-basis:  (2/12 * 100%);
		max-width: (2/12 * 100%)
	}

	.o-lg-col-3 {
		flex-basis:  (3/12 * 100%);
		max-width: (3/12 * 100%)
	}

	.o-lg-col-4 {
		flex-basis:  (4/12 * 100%);
		max-width: (4/12 * 100%)
	}

	.o-lg-col-5 {
		flex-basis:  (5/12 * 100%);
		max-width: (5/12 * 100%)
	}

	.o-lg-col-6 {
		flex-basis:  (6/12 * 100%);
		max-width: (6/12 * 100%)
	}

	.o-lg-col-7 {
		flex-basis:  (7/12 * 100%);
		max-width: (7/12 * 100%)
	}

	.o-lg-col-8 {
		flex-basis:  (8/12 * 100%);
		max-width: (8/12 * 100%)
	}

	.o-lg-col-9 {
		flex-basis:  (9/12 * 100%);
		max-width: (9/12 * 100%)
	}

	.o-lg-col-10 {
		flex-basis:  (10/12 * 100%);
		max-width: (10/12 * 100%)
	}

	.o-lg-col-11 {
		flex-basis:  (11/12 * 100%);
		max-width: (11/12 * 100%)
	}

	.o-lg-col-12 {
		flex-basis:  100%;
		max-width: 100%
	}

	// ## Offsets
	.o-lg-col-offset-0 {
		margin-left: 0;
	}

	.o-lg-col-offset-1 {
		margin-left: (1/12 * 100%);
	}

	.o-lg-col-offset-2 {
		margin-left: (2/12 * 100%);
	}

	.o-lg-col-offset-3 {
		margin-left: (3/12 * 100%);
	}

	.o-lg-col-offset-4 {
		margin-left: (4/12 * 100%);
	}

	.o-lg-col-offset-5 {
		margin-left: (5/12 * 100%);
	}

	.o-lg-col-offset-6 {
		margin-left: (6/12 * 100%);
	}

	.o-lg-col-offset-7 {
		margin-left: (7/12 * 100%);
	}

	.o-lg-col-offset-8 {
		margin-left: (8/12 * 100%);
	}

	.o-lg-col-offset-9 {
		margin-left: (9/12 * 100%);
	}

	.o-lg-col-offset-10 {
		margin-left: (10/12 * 100%);
	}

	.o-lg-col-offset-11 {
		margin-left: (11/12 * 100%);
	}

	.o-lg-col-offset-12 {
		margin-left: 100%;
	}

}

//
// ### Vertical align
//
.o-col--valign-top {
	align-self: flex-start;
}

.o-col--valign-middle {
	align-self: center;
}

.o-col--valign-bottom {
	align-self: flex-end;
}
