// Agents

.c-agents {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 60px;
    background-color: $color-gray-light;

    @include for-tablet-portrait-down {
        flex-direction: column;
        padding: 40px 20px;
    }

    &__item {
        width: 37%;
        padding-right: 30px;

        @include for-tablet-portrait-down {
            width: 100%;
            margin-bottom: 20px;
            padding-right: 0;
        }

        &:first-of-type {
            width: 26%;

            @include for-tablet-portrait-down {
                width: 100%;
                text-align: center;
            }
        }
        
        &:last-of-type {
            padding-right: 0;
        }

        .block-heading {
            color: $color-text-brand-invert;
        }
    }
}