// Agent

.c-agent {
    display: flex;
    align-items: center;

    &__img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-position: center;
    }

    &__info {
        margin-left: 10px;

        &__name {
            margin-bottom: 6px;

            .bold {
                font-weight: $font-weight-bold;
            }

            .thin {
                font-weight: $font-weight-light; 
            }
        }

        &__phone {
            margin-bottom: 6px;

            > a {
                color: $color-black;
            }
        }

        &__email {
            > a {
                color: $color-black;
            }

            span:not(.email-icon) {
                text-decoration: underline;
            }
        }

        .phone-icon,
        .email-icon {
            display: inline-block;
            width: 18px;
            height: 16px;
            background-color: $color-icon;
            color: $color-white;

            .fas {
                font-size: 12px;
                margin-left: 3px;
            }
        }

    }
}