// Contact form

.c-contact-form {
    width: 100%;
    background-color: $color-very-dark-magenta;
    padding: 80px 0 40px 0;

    &__heading h2 {
        padding: 0 35px;
        color: $color-text-brand;

        @include for-tablet-portrait-down {
            margin-bottom: 40px;    
        }
    }

    &__content .form {
        margin-left: 50px;
        
        @include for-tablet-landscape-down {
            margin-left: 20px;    
        }
    }

    .form__section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        @include for-tablet-landscape-down {
            flex-wrap: wrap;
            margin-bottom: 20px;
        }

        & > * {
            @include for-tablet-landscape-down {
                margin-bottom: 20px; 
            }
        }

        .btn {
            min-width: 160px;

            @include for-tablet-landscape-down {
                min-width: 50px;
            }

            .fas {
                margin-right: 7px;
            }
        }

        input[type="text"] {
            @include for-desktop-down {
                width: 200px;
            }
        }

        .number-input {
            width: 130px;
            height: 36px;
        }

        .number-label {
            color: $color-white;
            max-width: 60px;
            margin-left: 10px;
        }

    }
}