// F

.c-featured-property {

    .info-container {
        display: flex;
        justify-content: space-between;

        @include for-phone-landscape-down {
            flex-direction: column;
        }
    }

    &__info {
        .c-property-tags {
            &__item {
                font-size: 20px;
                font-weight: $font-weight-semibold;
            }
        }

       .property-title {
           margin-top: 28px;
           color: $color-text-brand-invert;
       } 

       .c-property-info-block {
            margin-top: 38px;

            &__item {
                font-size: 20px;

                @include for-tablet-portrait-down {
                    font-size: 16px;
                }
            }

            &__item span {
                font-size: 41.74px;
                font-weight: $font-weight-medium;

                @include for-tablet-portrait-down {
                    font-size: 32px;
                }
            }
       }
    }

    &__sale-info {
        position: relative;
        height: 100%;
        color: $color-btn;

        .sale-info {
            width: 136px;
            height: 95px;
            font-size: 18.68px;
            font-style: $font-style-italic;	
            
            line-height: 95px;
            text-align: center;

            @include for-phone-landscape-down {
                width: 100%;
                height: 60px;
                line-height: 60px;
            }

            &--label {
                font-weight: $font-weight-bold;
                background-color: $color-very-dark-magenta;

                @include for-phone-landscape-down {
                    margin-top: 20px;
                }
            }

            &--price {
                font-weight: $font-weight-black;
                background-color: $color-pure-pink;
            }
        }
    }

    &__features {
        width: 100%;
        margin-top: 40px;

        li {
            width: 50%;
            margin-bottom: 12px;
            font-size: 20px;

            @include for-phone-landscape-down {
                width: 100%;
                font-size: 16px;
            }
        }

        li:nth-child(-n+3) {
            float: left;
        }

        li:nth-child(n+4) {
            float: right;
        }

        .fas {
            margin-right: 5px;
            font-size: 20px;
            color: $color-icon;

            @include for-phone-landscape-down {
                font-size: 16px;
            }
        }
    }
}