// Featured properties

.c-featured-properties {
    width: 100%;
    background: url('../images/Layer 17.png');
    background-size: cover;
    overflow: hidden;

    &__box {
        width: 100%;
        max-width: 790px;
        margin: 253px auto 0 auto;

        @include for-tablet-landscape-down {
            margin-top: 153px;
        }

        &__label {
            height: 42px;	
            width: 233px;
            line-height: 42px;
            padding-left: 15px;
            text-transform: uppercase;
            color: $color-light-grayish-red;
            background-color: $color-very-dark-magenta;
    
            .fas {
                margin-right: 5px;
                color: $color-icon;
            }
        }

        &__content {
            width: 100%;
            padding: 50px;
            background-color: $color-white;

            @include for-tablet-landscape-down {
                padding: 50px 20px;
            }
        }
    
    }

    &__locations {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 250px 77px 0;

        @include for-tablet-landscape-down {
            margin: 150px 0 0;
        }

        @include for-phone-landscape-down {
            margin: 50px 0 0;
            flex-direction: column;
        }
    }
}