// Footer info

.c-footer-info {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__text {
        margin-top: 45px;
        margin-right: 55px;

        p {
            color: $color-very-soft-orange;
            font-weight: $font-weight-light; 
            line-height: 28px;
        }
    }

    &__social {
        display: flex;
        justify-content: flex-start;
        margin-top: 45px;

        @include for-tablet-portrait-down {
            margin-bottom: 40px;
        }

        .social-icon {
            width: 38px;
            height: 36px;
            line-height: 36px;
            text-indent: -9999px;
            margin-right: 10px;

            a {
                display: block;
                overflow: hidden;
                width: 100%;
                height: 100%;
            }
        }

        .facebook-icon {
            height: 38px;
            background: url(../images/facebook.png);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .youtube-icon {
            background: url(../images/youtube.png);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .instagram-icon {
            background: url(../images/instagram.png);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .pinterest-icon {
            background: url(../images/pinterest.png);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .twitter-icon {
            background: url(../images/twitter.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}