// Footer menu

.c-footer-menu {
    display: flex;

    @include for-phone-landscape-down {
        flex-direction: column;
    }

    &__col {
        width: 33%;

        @include for-phone-landscape-down {
            width: 100%;
            margin-bottom: 20px;
        }

        h3 {
            color: $color-text-brand;
            margin-bottom: 32px;

            @include for-phone-landscape-down {
                margin-bottom: 12px;
            }
        }

        ul {
            list-style: disc inside;
            color: $color-text-footer;

            li {
                margin-bottom: 6px;
            }
        }

        a {
            color: $color-text-footer;
            line-height: 28px;
        }
    }
}