// Latest properties section

.c-latest-properties {
    width: 100%;
    padding: 100px 0;
    background-color: $color-lime-green;

    @include for-tablet-portrait-down {
        padding: 40px 0;
    }

    &__heading {
        h2 {
            font-style: $font-style-italic;
            color: $color-text-brand-invert;

            @include for-phone-landscape-down {
                margin-bottom: 20px;
            }
        }

        .btn {
            margin-top: 0;
        }
    }

    &__blocks {
        margin-top: 45px;
    }
}