// Menu Primary

.c-menu-primary {
    display: flex;
   
    &__item {
        padding: 15px;
        margin: 0 15px;

        > a {
            color: $color-link-nav;
            font-weight: $font-weight-bold;
         }

    }
}