// Mobile menu

.c-mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 15px;

    &__hamburger {
        position: relative;
        padding-left: 40px;
    }

    &__hamburger:before {
        content: "";
        position: absolute;
        left: 20px;
        top: -5px;
        width: 20px;
        height: 0.2em;
        background: $color-lime-green;
        box-shadow: 0 0.4em 0 0 $color-lime-green, 0 0.8em 0 0 $color-lime-green;
    }

    &__logo {
        display: block;
        width: 72px;
        padding: 24px 0;
    }
}