// Mobile submenu

.c-mobile-submenu {
    display: none;
    opacity: 1;
    background-color: $color-very-dark-magenta;
    padding: 15px 17px;
    border-top: 1px solid $color-lime-green;
    font-size: 16rem;
    box-shadow: 0 2px 4px $color-very-dark-magenta;

    & .menu-item {
        position: relative;
        padding: 5px 0;

        & > a {
            display: block;
            width: 100%;
            height: 100%;
            z-index: 1;
            color: $color-white;
            font-size: 18px;
        }
    }
}