// Page Footer

.c-page-footer {
    width: 100%;

    &__nav {
        width: 100%;
        padding: 70px 0;
        background-color: $color-very-dark-magenta;
    }

    &__legal {
        width: 100%;
        padding: 40px 0;
        background-color: $color-very-dark-red;

        p {
            color: $color-white;
            font-weight: $font-weight-light;

            @include for-tablet-portrait-down {
                margin-bottom: 20px;
            } 
        }
    }
}