// Page Branding

.c-page-branding {
    position: relative;
    height: 100%;	
    
    z-index: 4;

    .c-footer-info & {
        height: 40px;
    }

    &__title {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        margin: 0;

        > a {
            display: block;
            width: 185px;
            height: 45px;
            background-image: url(../images/logo.png);
            background-repeat: no-repeat;
            background-size: auto 100%;
        }
    }
}