// Page Header

.c-page-header {
    width: 100%;
    background: url(../images/house.png);
    background-size: cover;
    overflow: hidden;

    &__nav,
    &__nav-mobile {
        display: none;
    }

    &__nav.is-visible {
        width: 100%;
        height: 100px;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background: $color-very-dark-magenta;
        z-index: 2;
    }

    &__nav-mobile.is-visible {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 80px;
        background: $color-very-dark-magenta;
        z-index: 3;
    }

    &__title {
        width: 100%;
        text-align: left;
        color: $color-lime-green;

        margin-top: 180px;

        @include for-tablet-portrait-down {
            margin-top: 120px;
        }
    }

    &__search {
        width: 50%;
        margin-top: 80px;

        @include for-tablet-landscape-down {
            width: 100%;
            margin-top: 40px;
        }
    }

    &__popular {
        width: 50%;
        margin-top: 35px;
        margin-bottom: 165px;

        @include for-tablet-landscape-down {
            width: 100%;
            margin-bottom: 80px;
    
        }
    }

    & .header-overlay {
        background: rgba(54,0,57,0.9);
        overflow: hidden;
        height: 100%;
        z-index: 2;
    }
}