.c-popular-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-phone-landscape-down {
        flex-wrap: wrap;
    }

    &__text {
        > p {
            color: $color-white;
            font-weight: $font-weight-bold;
        }

        @include for-phone-landscape-down {
            margin-bottom: 20px;
        }
    }

    &__buttons {
        > a {
            margin: 0 8px;

            @include for-phone-landscape-down {
                margin-bottom: 20px;
            }
        }
    }
}