// Property location

.c-property-location {
    height: 72px;	
    width: calc(33.33% - 15px);
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);

    @include for-tablet-landscape-down {
        width: 100%;
        margin-top: 20px;
    }

    &:nth-child(1) {
        background-color: $color-pure-pink;
    }

    .fas {
        font-size: 32px;
        color: $color-white;
        margin-right: 16px;
        margin-left: 26px;
    }

    &__info {

        .address {
            font-style: $font-style-italic;	
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            color: $color-white;

            margin-bottom: 6px;
        }

        .info {
            font-style: $font-style-italic;	
            text-transform: uppercase;
            color: $color-white;
        }
    }
}