// Property management

.c-property-management {
    background: url(../images/Layer_32.png);
    background-size: cover;
    overflow: hidden;

    &__image {
        width: 100%;
    }

    &__content {
        width: 100%;
        background: rgba(54, 0, 57, 0.90);
        padding-left: 0;
        padding-right: 0;
        z-index: 1;
    }

    &__content__heading {
        width: 100%;
        height: 516px;
        padding: 90px 0 0 45px;
        background: rgba(8, 233, 246, 0.80);
        color: $color-text-brand-invert;

        clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);

        @include for-tablet-portrait-down {
            height: 300px;
        }
    }

    &__content__info {
        width: 100%;
        padding: 45px 45px 100px 45px;
        color: $color-white;

        ul li {
            @extend .h3;
            font-weight: $font-weight-base;

            @include for-tablet-portrait-down {
                font-size: 20px;
            }
        }

        .fas {
            color: $color-icon;
            margin-right: 45px;

            @include for-tablet-portrait-down {
                margin-right: 15px;
            }
        }

        .btn {
            margin: 45px 0;
        }

        a:not(.btn) {
            font-size: $font-size-h3;
            font-family: $font-family-headings;
            font-weight: $font-weight-h3;
            font-style: $font-style-headings;
            line-height: 1.3;
            color: $color-white;

            text-decoration: underline;
        }

        h3,
        a:not(.btn) {
            @include for-tablet-portrait-down {
                font-size: 16px;
            } 
        }
    }
}