// Property info

.c-property-info {
    width: 100%;
    padding: 25px;

    @include for-tablet-portrait-up {
        padding: 25px 15px;
    }

    @include for-desktop-up {
        padding: 25px; 
    }

    &__title {
        font-style: $font-style-italic;
        color: $color-text-brand-invert;
    }

    &__tags {
        margin-top: 20px;
    }

    &__info {
        margin-top: 30px;
    }
}