// Property tags

.c-property-tags {
    display: flex;
    align-items: center;
    color: $color-text-brand-invert;

    @include for-phone-landscape-down {
        flex-direction: column;
        align-items: flex-start;
    }

    &__item {
        margin-right: 20px;

        @include for-phone-landscape-down {
            margin-right: 0;
            margin-bottom: 20px;
        }

        .fas {
            margin-right: 5px;
            color: $color-icon;
        }
    }

    &__item:last-child {
        margin-right: 0;

        @include for-phone-landscape-down {
            margin-bottom: 0;
        }
    }
}