// Property block

.c-property-block {
    width: 100%;
    max-width: 350px;
    margin: 10px auto;
    float: none !important;

    @include for-tablet-landscape-up {
        // width: 100%;
    }
    
    &__img {
        width: 100%;
        height: 286px;
    }

    &__content {
        width: 100%;
        background-color: $color-white;
    }
}