// Property info block

.c-property-info-block {
    display: flex;
    width: 100%;
    color: $color-text-brand-invert;

    &__item {
        width: 33.33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid $border-very-dark-magenta;

        > span {
            font-size: 32px;
            margin-bottom: 5px;
            font-weight: $font-weight-light;
        }

        &:last-of-type {
            border-right: none;
        }
    }
}