// Search box

.c-search-box {
    position: relative;
    width: 100%;

    &__input {
        width: 100%;
        background: transparent;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 3px solid $border-lime-green;
    }

    &__input::placeholder {
        @include for-tablet-portrait-down {
            font-size: 16px;
        }
    }

    &__btn {
        position: absolute;
        top: 10px;
        right: 0;
        padding: 6px 10px;
        margin-right: 10px;
        background: transparent;
        font-size: 20px;
        border: none;
        cursor: pointer;

        z-index: 1;

        .fa-search {
            color: $color-pure-pink;
        }
    }
}