// Selling info

.c-selling-info {
    display: flex;

    @include for-tablet-portrait-down {
        flex-wrap: wrap;
        flex: 0 1 auto;
    }

    &__item {
        width: 20%;
        height: 208px;

        padding: 0 40px;
        text-align: center;

        border-right: 1px solid $border-color;

        @include for-tablet-portrait-down {
            flex: 0 0 auto;
            flex-basis: 50%;
            max-width: 50%;
            padding: 0 20px;
            margin-bottom: 40px;
    
        }

        &:last-of-type {
            border-right: none;

            @include for-tablet-portrait-down {
                margin: 0 auto;
            }
        }

        &:nth-of-type(even) {
            @include for-tablet-portrait-down {
                border-right: none;
            }
        }
    }

    .item-icon {
        height: 64px;	
        width: 64px;
        margin: 0 auto;

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .item-text {
        margin-top: 38px;
        font-weight: $font-weight-light;
        color: $color-text-brand-invert;
        font-style: $font-style-italic;
    }
}