// Selling property

.c-selling-property {
    position: relative;
    width: 100%;
    padding-top: 100px;
    background-color: $color-white;

    @include for-tablet-portrait-down {
        padding-top: 45px;
    }

    &__title {
        color: $color-text-brand-invert;
    }

    &__subtitle {
        margin-top: 45px;
        color: $color-text-brand-invert;

        @include for-tablet-portrait-down {
            margin-top: 20px;
        }
    }

    &__text {
        width: 60%;
        margin-top: 45px;
        font-weight: $font-weight-light;
        line-height: 28px;

        @include for-tablet-portrait-down {
            width: 100%;
            margin-top: 20px;
        }
    }

    &__info {
        margin-top: 90px;

        @include for-tablet-portrait-down {
            margin-top: 40px;
        }
    }

    &__agents {
        margin-top: 68px;

        @include for-tablet-portrait-down {
            margin-top: 20px;
        }
    }
}