// Slider

.c-slider {
    position: relative;
    
    &__item {
        width: 100%;
    }
}

.slider-wrapper {
    position: relative;
    display: inline-block;
    width: 100%; 
    padding: 20px 0; 

    .owl-carousel {
        z-index: 0;

        .owl-item {
            padding: 20px;
        }
      }

    .owl-theme {
        .owl-stage,
        .owl-stage-outer,
        .owl-carousel {
          height: 100%;
        }
        
        .owl-stage {
            display: flex;
            align-items: center;
            margin: 0 auto;
        }

        .owl-nav {
            position: absolute;
            top: -70px;
            right: 0;

            .owl-prev, 
            .owl-next {
               font-size: 25px;
               color: $color-dark-magenta;
            }

            .owl-prev {
                margin-right: 20px;
            }
        }
    }
}