// Testimonial
.c-testimonial {
    display: flex;
    width: 100%;

    &__image {
        width: 120px;
        min-width: 120px;
        height: 120px;
        border-radius: 60px;
        border-radius: 120px;
        background-size: cover;
        background-position: center;
    }

    &__content {
        padding: 20px 40px;
        background-image: url('../images/dialog.svg');

        .title {
            color: $color-pure-pink;
        }

        .text {
            font-weight: $font-weight-light;
        }

        .author {
            margin-top: 20px;
            font-weight: $font-weight-bold;
            color: $color-text-brand-invert;
        }
    }
}