//Testimonials
.c-testimonials {
    width: 100%;
    padding: 60px 0 50px 0;

    &__heading {
        color: $color-text-brand-invert;

        h3 {
            font-weight: $font-weight-base;
        }
    }

    &__content {
        width: 100%;
    }
}