//
// ## Fonts
//

$font-family-base: 'Jost';
$font-family-secondary: 'Font Awesome 5 Solid';

// Headings
$font-family-h1: $font-family-base !default;
$font-family-h2: $font-family-base !default;
$font-family-h3: $font-family-base !default;
$font-family-h4: $font-family-base !default;
$font-family-h5: $font-family-base !default;
$font-family-h6: $font-family-base !default;

// Elements
$font-family-headings: $font-family-h1 !default;
$font-family-btn: $font-family-base !default;
$font-family-input: $font-family-base !default;
$font-family-label: $font-family-base !default;

//
// ## Font sizes
//
$font-size-base: 16px !default;

// Headings
$font-size-h1: 102.66px !default;
$font-size-h2: 48px !default;
$font-size-h3: 32px !default;
$font-size-h4: 20px !default;
$font-size-h5: 18.68px !default;
$font-size-h6: 16px !default;

// Elements
$font-size-input: 16px !default;
$font-size-label: 16px !default;
$font-size-error-label: 16px !default;
$font-size-btn: 16px !default;

//
// ## Font weight
//
$font-weight-base: 400 !default;
$font-weight-black: 900 !default;
$font-weight-heavy: 800 !default;
$font-weight-bold: 700 !default;
$font-weight-semibold: 600 !default;
$font-weight-medium: 500 !default;
$font-weight-book: 400 !default;
$font-weight-light: 300 !default;
$font-weight-thin: 200 !default;

// Headings
$font-weight-h1: $font-weight-bold !default;
$font-weight-h2: $font-weight-bold !default;
$font-weight-h3: $font-weight-bold !default;
$font-weight-h4: $font-weight-medium !default;
$font-weight-h5: $font-weight-semibold !default;
$font-weight-h6: $font-weight-medium !default;

// Elements
$font-weight-headings: $font-weight-h1 !default;
$font-weight-btn: $font-weight-semibold !default;
$font-weight-input: $font-weight-book !default;
$font-weight-label: $font-weight-book !default;


//
// ## Font style
//
$font-style-normal: normal !default;
$font-style-italic: italic !default;
$font-style-base: $font-style-normal !default;

// Headings
$font-style-h1: $font-style-normal !default;
$font-style-h2: $font-style-normal !default;
$font-style-h3: $font-style-normal !default;
$font-style-h4: $font-style-normal !default;
$font-style-h5: $font-style-normal !default;
$font-style-h6: $font-style-normal !default;

// Elements
$font-style-headings: $font-style-h1 !default;
$font-style-input: $font-style-base !default;

$line-height-base: 1 !default;