//
// ## Line height
//

$line-height-base: 1.6 !default;

// Headings
$line-height-h1: 1 !default;
$line-height-h2: 1 !default;
$line-height-h3: 1 !default;
$line-height-h4: 1.375em !default;
$line-height-h5: 1.250em !default;
$line-height-h6: 1.125em !default;

// Elements
$line-height-btn: $line-height-base !default;
$line-height-label: $line-height-base !default;
$line-height-input: $line-height-base !default;
$line-height-error: $line-height-base !default;
