//
// ## Grid
//
$grid-gutter: 30px !default;
$grid-padding: $grid-gutter/2 !default;
$grid-container-padding: $grid-gutter - $grid-padding !default;
$grid-container-max-width: 1200px !default;
$grid-site-max-width: 1728px !default;