//
// Sprite
//

$spritesheet-width: 0px;
$spritesheet-height: 0px;
$spritesheet-image: '../dist/sprite.png';
$spritesheet-sprites: ();
$spritesheet: (0px, 0px, '../dist/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 0px;
$retina-spritesheet-height: 0px;
$retina-spritesheet-image: '../dist/sprite@2x.png';
$retina-spritesheet-sprites: ();
$retina-spritesheet: (0px, 0px, '../dist/sprite@2x.png', $retina-spritesheet-sprites, );

$retina-groups: ();