//
// ## Colors
//

// Primary color palette
$color-very-dark-magenta: #360039 !default;
$color-dark-magenta: #3A003D !default;
$color-lime-green: #01ff83 !default;
$color-pure-pink: #FE0058!default;
$color-vivid-cyan: #08e9f6 !default;
$color-very-soft-orange: #e5d7b0 !default;
$color-light-grayish-red: #f7cdce !default;

// Secondary color palette
$color-black: #000 !default;
$color-very-dark-red: #1C1919 !default;
$color-black-soft: #333 !default;
$color-gray-dark: #4a4a4a !default;
$color-gray: #b2b6b6 !default;
$color-gray-light: #f7f8f9 !default;
$color-white: #fff !default;

// Text
$color-text-base: $color-black !default;
$color-text-alt: $color-text-base !default;
$color-text-invert: $color-white !default;
$color-text-brand: $color-lime-green !default;
$color-text-brand-invert:$color-very-dark-magenta !default;
$color-text-footer: $color-very-soft-orange !default;
$color-icon: $color-pure-pink !default;

// Headings
$color-headings: $color-text-brand-invert !default;

// Nav
$color-link-nav: $color-white !default;
$color-link-nav-hover: $color-very-soft-orange !default;
$color-link-nav-active: $color-white !default;

// Links
$color-link: $color-very-dark-magenta !default;

// Buttons
$color-btn: $color-light-grayish-red !default;

// Borders
$border-color-white: $color-white !default;
$border-lime-green: $color-lime-green !default;
$border-very-dark-magenta: $color-very-dark-magenta !default;
$border-color: $color-gray !default;
$border-color-dark: $color-gray-dark !default;
$border-color-black: $color-black-soft !default;
$border-radius-circ: 9999px !default;