//
// Breakpoints
//
$bp-huge-desktop-min: 2200px !default;
$bp-big-desktop-min: 1728px !default;
$bp-medium-desktop-min: 1200px !default;
$bp-desktop-min: 1080px !default;
$bp-tablet-landscape-min: 900px !default;
$bp-tablet-portrait-min: 768px !default;
$bp-phone-landscape-min: 640px !default;

$bp-big-desktop-max: $bp-huge-desktop-min - 1px !default;
$bp-medium-desktop-max: $bp-big-desktop-min - 1px !default;
$bp-desktop-max: $bp-medium-desktop-min - 1px !default;
$bp-tablet-landscape-max: $bp-desktop-min - 1px !default;
$bp-tablet-portrait-max: $bp-tablet-landscape-min - 1px !default;
$bp-phone-landscape-max: $bp-tablet-portrait-min - 1px !default;
$bp-phone-portrait-max: $bp-phone-landscape-min - 1px !default;


//
// Media Queries
//
$mq-for-huge-desktop-up: '(min-width: #{$bp-huge-desktop-min})' !default;
$mq-for-big-desktop-up: '(min-width: #{$bp-big-desktop-min})' !default;
$mq-for-medium-desktop-up: '(min-width: #{$bp-medium-desktop-min})' !default;
$mq-for-desktop-up: '(min-width: #{$bp-desktop-min})' !default;
$mq-for-tablet-landscape-up: '(min-width: #{$bp-tablet-landscape-min})' !default;
$mq-for-tablet-portrait-up: '(min-width: #{$bp-tablet-portrait-min})' !default;
$mq-for-phone-landscape-up: '(min-width: #{$bp-phone-landscape-min})' !default;

$mq-for-big-desktop-down: '(max-width: #{$bp-big-desktop-max})' !default;
$mq-for-medium-desktop-down: '(max-width: #{$bp-medium-desktop-max})' !default;
$mq-for-desktop-down: '(max-width: #{$bp-desktop-max})' !default;
$mq-for-tablet-landscape-down: '(max-width: #{$bp-tablet-landscape-max})' !default;
$mq-for-tablet-portrait-down: '(max-width: #{$bp-tablet-portrait-max})' !default;
$mq-for-phone-landscape-down: '(max-width: #{$bp-phone-landscape-max})' !default;

$mq-for-phone-portrait-only: '(max-width: #{$bp-phone-portrait-max})' !default;
$mq-for-phone-landscape-only: '(min-width: #{$bp-phone-landscape-min}) and (max-width: #{$bp-phone-landscape-max})' !default;
$mq-for-tablet-portrait-only: '(min-width: #{$bp-tablet-portrait-min}) and (max-width: #{$bp-tablet-portrait-max})' !default;
$mq-for-tablet-landscape-only: '(min-width: #{$bp-tablet-landscape-min}) and (max-width: #{$bp-tablet-landscape-max})' !default;
$mq-for-desktop-only: '(min-width: #{$bp-desktop-min}) and (max-width: #{$bp-desktop-max})' !default;
$mq-for-medium-desktop-only: '(min-width: #{$bp-medium-desktop-min}) and (max-width: #{$bp-medium-desktop-max})' !default;
$mq-for-big-desktop-only: '(min-width: #{$bp-big-desktop-min}) and (max-width: #{$bp-big-desktop-max})' !default;

$mq-lg-min: '(min-width: #{$bp-desktop-min})' !default;
$mq-md-min: '(min-width: #{$bp-tablet-landscape-min})' !default;
$mq-sm-min: '(min-width: #{$bp-tablet-portrait-min})' !default;
$mq-xs-min: '(min-width: #{$bp-phone-landscape-min})' !default;
$mq-lg-max: '(max-width: #{$bp-big-desktop-max})' !default;
$mq-md-max: '(max-width: #{$bp-tablet-landscape-max})' !default;
$mq-sm-max: '(max-width: #{$bp-tablet-portrait-max})' !default;
$mq-xs-max: '(max-width: #{$bp-phone-landscape-max})' !default;
$mq-lg-only: $mq-for-big-desktop-only !default;
$mq-md-only: $mq-for-tablet-landscape-only !default;
$mq-sm-only: $mq-for-tablet-portrait-only !default;
$mq-xs-only: $mq-xs-max !default;