.btn {
    display: inline-block;
    margin-bottom: 0;
    padding: 15px 20px;
    font-family: $font-family-btn;
    font-size: 13px;
    font-weight: $font-weight-btn;
    line-height: $line-height-btn;
    font-style: normal;
    white-space: nowrap;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
   
    transition: background-color 250ms cubic-bezier(.455,.03,.515,.955);

    @include for-phone-landscape-up {
        font-size: $font-size-btn;
    }
}

.btn--primary {
    color: $color-btn;
    background-color: $color-pure-pink;
    border-color: $color-pure-pink;
}

.btn:not(.btn-link) {
    text-transform: capitalize;
}
