//
// Forms
// ===
//

$margin-input: 3.8rem;

form {
    margin: 0 0 1.5em;
	
    &:last-child {
        margin-bottom: 0;
    }
}

form p {
    margin-bottom: 1.5em;
}

fieldset {
    padding: 0;
    border: none;
}

legend {
    margin-left: 3rem;
    padding: 0 1.5rem;
    font-family: $font-family-label;
    font-size: $font-size-label;
}

//
// ## Labels
//

label {
    display: inline-block;
    
    font-size: $font-size-label;
    font-family: $font-family-label;
    font-weight: $font-weight-label;
    font-style: $font-style-base;
	
    line-height: $line-height-label;
    color: $color-white;
    cursor: pointer;
    
    input,
    select {
        margin-top: 5px;
    }
}

label[for] {
    margin-left: 1px;
	margin-bottom: 0.3em;
	
    color: $color-white;
	
    transition: all 0.1s linear;
	
    .is-invalid & {
        //color: $color-error;
    }
	
    .is-focused & {
        //color: $color-brand;
    }
}



//
// ## Inputs
//
textarea,
select,
input[type=""],
[type="email"],
[type="tel"],
[type="number"],
[type="search"],
[type="url"],
[type="password"],
[type="text"] {
    display: block;
    position: relative;
	
    width: 260px;
    line-height: $line-height-input;
	
	padding: 12px 14px;
	
    border: 1px solid $color-white;
	border-radius: 2px;
    background-color: $color-white;
	
    font-family: $font-family-input;
    font-weight: $font-weight-input;
    font-style: $font-style-input;
    font-size: $font-size-input;
	
    color: $color-text-base;
    white-space: nowrap;
    text-decoration: none;

    @include for-tablet-portrait-down {
        font-size: 13px;
    }
	
    &.is-invalid {
		
    }
	
    &:focus {
       // border-color: $color-blue-light;
        outline: 0;
    }
	
    &[readonly],
    &[disabled],
    &:disabled {
		
		&:focus {
			//border-color: $color-blue-light;
		}
    }
	
    &[disabled],
    &:disabled {
		opacity: 0.8;
		
        cursor: not-allowed;
    }
}

::placeholder {
    font-size: 32px;	
    font-style: italic;	
    font-weight: 300;
    color: $color-white;
    opacity: 1;
	
	white-space: nowrap;
}

// ## Checkboxes, radios
//

input[id][type="checkbox"] {
    position: absolute;
    opacity: 0;
}

input[id][type="checkbox"] + label[for] {
    position: relative;
    top: 0;
    opacity: 1;
    padding-left: 50px;
    padding-top: 10px;
    white-space: nowrap;
	
	&::before,
    &::after {
		box-sizing: border-box;
		
        content: ' ';
        display: block;
		
        position: absolute;
        top: 0;
        left: 0;
		
		width: 36px;
        height: 36px;
        margin-top: 1px;
		
		border-radius: 2px;
		
        cursor: pointer;
	}
	
	// fake checkbox/radio
    &::after {
        border: 2px solid $color-white;
    }
		
	// fake tick/dot
	&::before {
		background-color: $color-white;
	}
}

input[id][type="checkbox"] {
	
	// disabled (whole element)
    &:disabled + label[for] {
		//opacity: 0.6;
		cursor: not-allowed;
    }
	
	// checked
    &:checked + label[for]::after {
        border-color: $color-white;
    }
	
    // focused
    &:focus + label[for]::after {
        border-color: $color-white
    }
		
    // disabled
    &:disabled + label[for]::after {
		border-color: $color-white;
		background-image: none;
    }
}

input[id][type="checkbox"] {
	
	// checked
    &:checked + span::before,
    &:checked + label[for]::before {
        background-color: $color-white;
    }
	
    // focused
    &:focus + label[for]::before {
		background-color: $color-white;
    }
		
    // disabled
    &:disabled + label[for]::before {
		background-image: none;
    }
	
    // checked & focused
    &:checked:focus + label[for]::before {
		background-color: $color-white;
    }
	
    // checked & disabled
    &:checked:disabled + label[for]::before {
        background-color: $color-white;
    }
}

// checked tick
input[id][type="checkbox"]:checked + label[for]::before {
	background-color: $color-gray;
	background-image: url('../images/checkbox-checked.svg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}


