//
// Headings
// ===
//

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

// ## H1
.h1 {
	font-size: $font-size-h1;
	font-family: $font-family-headings;
	font-weight: $font-weight-h1;
	line-height: $line-height-base;
    text-transform: none;
    
    + * {
		margin-top: 12px;
    }
    
    @include for-tablet-landscape-down {
        font-size: 48px;
    }
}

h1 {
	@extend .h1;
}

// ## H2
.h2 {
	font-size: $font-size-h2;
	font-family: $font-family-headings;
	font-weight: $font-weight-h2;
	font-style: $font-style-headings;

    line-height: $line-height-base;
    
    + * {
		margin-top: 12px;
    }
    
    @include for-tablet-landscape-down {
        font-size: 32px;
    }
}

h2 {
	@extend .h2;
}

// ## H3
.h3 {
    font-size: $font-size-h3;
	font-family: $font-family-headings;
	font-weight: $font-weight-h3;
	font-style: $font-style-headings;

    line-height: 1.3;
    
    + * {
		margin-top: 12px;
    }
    
    @include for-tablet-landscape-down {
        font-size: 20px;
    }
}

h3 {
	@extend .h3;
}

// ## H4
.h4 {
	font-size: $font-size-h4;
	font-family: $font-family-h4;
	font-weight: $font-weight-h4;
    font-style: $font-style-h4;
    
    line-height: $line-height-base;

    + * {
		margin-top: 12px;
    }
    
    @include for-tablet-landscape-down {
        font-size: 18px;
    }
}

h4 {
	@extend .h4;
}

// ## H5
.h5 {
	font-size: $font-size-h5;
	font-family: $font-family-h5;
	font-weight: $font-weight-h5;
    font-style: $font-style-h5;
    
    line-height: $line-height-base;

    + * {
		margin-top: 12px;
    }
    
    @include for-tablet-landscape-down {
        font-size:16px;
    }
}

h5 {
	@extend .h5;
}

// ## H6
.h6 {
	font-size: $font-size-h6;
	font-family: $font-family-h6;
	font-weight: $font-weight-h6;
    font-style: $font-style-h6;
    
    line-height: $line-height-base;

    + * {
		margin-top: 12px;
    }
    
    @include for-tablet-landscape-down {
        font-size: 16px;
    }
}

h6 {
	@extend .h6;
}

