//
// Links
// ===
//

a {
    font-family: $font-family-base;
	font-weight: $font-weight-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $color-link;
	text-decoration: none;

	transition-property: color, background-color, opacity, border-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;

	&:visited {
		//color: $color-link;
	}

	&:hover,
		&:active,
		&:focus {
		text-decoration: underline;
    }
    
    &.btn:hover,
        &.btn:active,
        &.btn:focus {
        text-decoration: none;
    }
}


