//
// Typography
// ===
//

// Base
html {
	// font-size: 8/16*100%;

	// @include for-tablet-portrait-up {
	// 	font-size: 9/16*100%;
	// }

	// @include for-big-desktop-up {
	// 	font-size: 10/16*100%;// 10px for easy rem math
	// }
}

body,
input,
select,
textarea {
	font-family: $font-family-base;
	font-weight: $font-weight-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $color-text-base;
}

// Paragraphs

p {
    font-family: $font-family-base;
	font-weight: $font-weight-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $color-text-base;
	margin: 0;
	
	&:empty {
		display: none;
	}
}

// Others

strong, b {
	font-weight: $font-weight-bold;
}

hr {
	border: solid;
	border-width: 1px 0 0;
	clear: both;
	margin: 0;
	height: 0;
}
