//
// Mixins
// ===
//


//
// Center block
// ---
//
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

//
// Bottom block
// ---
//
@mixin bottom-block ($padding-bottom) {
	display: inline-block;
	height: 100%;
	vertical-align: bottom;
	padding-bottom: $padding-bottom;
}


//
// Vertical align
// ---
//
@mixin vertical-align($position, $top) {
	position: $position;
	top: $top;
	transform: translateY($top);
}

//
// Clearfix
// ---
//
@mixin clearfix() {

	&:before,
		&:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// Breakpoint mixins
// ---
// This allows to write all of the versions of component
// in the same place and have the media queries sprinkled through where we need them.
//

//--only
@mixin for-phone-portrait-only {
	@media #{$mq-for-phone-portrait-only} { @content; }
}

@mixin for-phone-landscape-only {
	@media #{$mq-for-phone-landscape-only} { @content; }
}

@mixin for-tablet-portrait-only {
	@media #{$mq-for-tablet-portrait-only} { @content; }
}

@mixin for-tablet-landscape-only {
	@media #{$mq-for-tablet-landscape-only} { @content; }
}

@mixin for-desktop-only {
	@media #{$mq-for-desktop-only} { @content; }
}

@mixin for-medium-desktop-only {
	@media #{$mq-for-medium-desktop-only} { @content; }
}

@mixin for-big-desktop-only {
	@media #{$mq-for-big-desktop-only} { @content; }
}


//--up
@mixin for-phone-landscape-up {
	@media #{$mq-for-phone-landscape-up} { @content; }
}

@mixin for-tablet-portrait-up {
	@media #{$mq-for-tablet-portrait-up} { @content; }
}

@mixin for-tablet-landscape-up {
	@media #{$mq-for-tablet-landscape-up} { @content; }
}

@mixin for-desktop-up {
	@media #{$mq-for-desktop-up} { @content; }
}

@mixin for-medium-desktop-up {
	@media #{$mq-for-medium-desktop-up} { @content; }
}

@mixin for-big-desktop-up {
	@media #{$mq-for-big-desktop-up} { @content; }
}

@mixin for-huge-desktop-up {
	@media #{$mq-for-huge-desktop-up} { @content; }
}

//--down
@mixin for-phone-landscape-down {
	@media #{$mq-for-phone-landscape-down} { @content; }
}

@mixin for-tablet-portrait-down {
	@media #{$mq-for-tablet-portrait-down} { @content; }
}

@mixin for-tablet-landscape-down {
	@media #{$mq-for-tablet-landscape-down} { @content; }
}

@mixin for-desktop-down {
	@media #{$mq-for-desktop-down} { @content; }
}

@mixin for-medium-desktop-down {
	@media #{$mq-for-medium-desktop-down} { @content; }
}

@mixin for-big-desktop-down {
	@media #{$mq-for-big-desktop-down} { @content; }
}


