//
// Utilities
// ===
// 

.u-width-100 {
    width: 100% !important;
}

.u-height-100 {
    height: 100% !important;
}

// Margin X
.u-mx-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

// Float
.u-fl {
	float: left !important;
}

.u-fr {
	float: right !important;
}

.u-fn {
	float: none !important;
}



// Flexbox
.u-flex {
	display: flex !important;
}

.u-flex-column {
	flex-direction: column !important;
}

.u-flex-wrap {
	flex-wrap: wrap !important;
}

.u-flex-items-start {
	align-items: flex-start !important;
}

.u-flex-items-end {
	align-items: flex-end !important;
}

.u-flex-items-center {
	align-items: center !important;
}

.u-flex-items-baseline {
	align-items: baseline !important;
}

.u-flex-items-stretch {
	align-items: stretch !important;
}

.u-flex-self-start {
	align-self: flex-start !important;
}


.u-flex-self-end {
	align-self: flex-end !important;
}


.u-flex-self-center {
	align-self: center !important;
}

.u-flex-self-baseline {
	align-self: baseline !important;
}

.u-flex-self-stretch {
	align-self: stretch !important;
}

.u-flex-justify-start {
	justify-content: flex-start !important;
}

.u-flex-justify-end {
	justify-content: flex-end !important;
}

.u-flex-justify-center {
	justify-content: center !important;
}

.u-flex-justify-between {
	justify-content: space-between !important;
}

.u-flex-justify-around {
	justify-content: space-around !important;
}

.u-flex-content-start {
	align-content: flex-start !important;
}

.u-flex-content-end {
	align-content: flex-end !important;
}

.u-flex-content-center {
	align-content: center !important;
}

.u-flex-content-between {
	align-content: space-between !important;
}

.u-flex-content-around {
	align-content: space-around !important;
}

.u-flex-content-stretch {
	align-content: stretch !important;
}

/* 1.u-flex- Fix for Chrome 44 bug.u-flex- https://code.u-flex-google.u-flex-com/p/chromium/issues/detail?id=506893 */
.u-flex-auto {
	flex: 1 1 auto !important;
	min-width: 0 !important; /* 1 */
	min-height: 0 !important; /* 1 */
}

.u-flex-none {
	flex: none !important;
}

.u-flex-order--1 {
	order: -1 !important;
}

.u-flex-order-0 {
	order: 0 !important;
}

.u-flex-order-1 {
	order: 1 !important;
}

.u-flex-order-2 {
	order: 2 !important;
}

.u-flex-order-3 {
	order: 3 !important;
}

.u-flex-order-last {
	order: 99999 !important;
}
